# SPDX-FileCopyrightText: 2023 Double Open Oy
#
# SPDX-License-Identifier: MIT

# DO NOT ADD SECRETS TO THIS FILE. Use .env instead.

##########################################################################
# Always compulsory:
##########################################################################
# Prisma doesn't currently support giving a default value in case DATABASE_URL is empty, see https://github.com/prisma/prisma/issues/222
DATABASE_URL=

# API URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api/

##########################################################################
# Compulsory in production (aka when NODE_ENV=production):
##########################################################################

# Keycloak variables for the API and UI
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID_API=
KEYCLOAK_CLIENT_SECRET_API=
KEYCLOAK_CLIENT_ID_UI=
KEYCLOAK_CLIENT_SECRET_UI=

# NEXTAUTH specific settings
NEXTAUTH_URL= # http://localhost:3000
NEXTAUTH_SECRET=

# S3 bucket env variables
SPACES_ENDPOINT= # default http://localhost:9000
SPACES_KEY= # default miniouser
SPACES_SECRET= # default miniopassword
SPACES_BUCKET= # default doubleopen

# Redis related variables
REDIS_URL= # default redis://localhost:6379
REDIS_PW= # default redis

# Session and cookie secret tokens
SESSION_SECRET= # default secret
COOKIE_SECRET= # default secret

# HMAC secret for generating and verifying API tokens. If changed, all existing
# API tokens will become invalid. The secret should be at least 32 bytes.
TOKEN_HMAC_SECRET= # default secret

##########################################################################
# Optional:
##########################################################################

# Environment (development/production)
NODE_ENV=

###########
#   API   
###########

# Port
PORT= # default 5000
# Allowed origins for CORS
ALLOWED_ORIGINS= # default http://localhost:3000

# Scanner timeout in seconds
SCANNER_TIMEOUT= # default 1200

# Log level
LOG_LEVEL= # default info, options: trace/debug/info/warn/error/silent (although note that this hasn't been taken into use everywhere yet, so the log level might be higher than what you set here)

# Database query concurrency and query retry count and interval
DB_CONCURRENCY= # default 10
DB_RETRIES= # default 5
DB_RETRY_INTERVAL= # default 1000

# S3 upload concurrency, retries and interval
UL_CONCURRENCY= # default 10
UL_RETRIES= # default 3
UL_RETRY_INTERVAL= # default 1000

# S3 download concurrency
DL_CONCURRENCY= # default 1

# Thresholds for marking jobs as failed in job state query cron job
MAX_FLAG_COUNT_PROCESSING= # default 12 (1 hour)
MAX_FLAG_COUNT_SAVING_RESULTS= # default 12 (1 hour)

# Retries for asking Scanner Agent to add new job to job queue
NEW_JOB_RETRIES= # default 3
NEW_JOB_RETRY_INTERVAL= # default 1000

# Rescan schedule for rescanning files with timeout issues
RESCAN_SCHEDULE= # default every day at midnight 0 0 * * *

 # ┌────────────── second (optional)
 # │ ┌──────────── minute
 # │ │ ┌────────── hour
 # │ │ │ ┌──────── day of month
 # │ │ │ │ ┌────── month
 # │ │ │ │ │ ┌──── day of week
 # │ │ │ │ │ │
 # │ │ │ │ │ │
 # * * * * * *

########################
#   Scanner Worker
########################

# S3 download concurrency for Scanner Worker
DL_CONCURRENCY= # default 1

# ScanCode config
SCANCODE_FILES_IN_MEMORY= # default 10000
SCANCODE_PROCESSES= # default 1

# Worker count for ScanCode:
WEB_CONCURRENCY= # default 1

#####################
#   Clearance UI   
#####################

# Refetch interval used to refresh session (seconds)
REFETCH_INTERVAL= # default 60
