# SPDX-FileCopyrightText: 2023 HH Partners
#
# SPDX-License-Identifier: MIT

name: Build and publish Docker image on Docker Hub and GitHub Packages

on:
    push:
        branches:
            - main
            - worker-deployment
            - do-197-env-files-should-be-loaded-in-scripts-not-in-code
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        env:
            NEXT_PUBLIC_API_URL: ${{ vars.NEXT_PUBLIC_API_URL }}

        steps:
            - name: Check out code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

            - name: Cache Docker layers
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              with:
                  path: /tmp/.buildx-cache
                  key: ${{ runner.os }}-buildx-${{ github.sha }}
                  restore-keys: |
                      ${{ runner.os }}-buildx-

            - name: Log in to Docker Hub
              uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

            - name: Log in to GitHub Packages
              uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Docker metadata for Worker
              id: meta-worker
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
              with:
                  images: |
                      ${{ secrets.DOCKER_HUB_USERNAME }}/worker
                      ghcr.io/${{ github.repository }}/worker
                  tags: |
                      type=sha  
                      type=raw,value=latest

            - name: Build and push Worker Docker image
              uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
              continue-on-error: false
              with:
                  context: .
                  file: "Worker.Dockerfile"
                  push: true
                  tags: ${{ steps.meta-worker.outputs.tags }}
                  labels: ${{ steps.meta-worker.outputs.labels }}
                  cache-from: type=local,src=/tmp/.buildx-cache
                  cache-to: type=local,dest=/tmp/.buildx-cache

            - name: Docker metadata for API
              id: meta-api
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
              with:
                  images: |
                      ${{ secrets.DOCKER_HUB_USERNAME }}/api
                      ghcr.io/${{ github.repository }}/api
                  tags: |
                      type=sha  
                      type=raw,value=latest

            - name: Build and push API Docker image
              uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
              continue-on-error: false
              with:
                  context: .
                  file: "API.Dockerfile"
                  push: true
                  tags: ${{ steps.meta-api.outputs.tags }}
                  labels: ${{ steps.meta-api.outputs.labels }}
                  cache-from: type=local,src=/tmp/.buildx-cache
                  cache-to: type=local,dest=/tmp/.buildx-cache

            - name: Docker metadata for Clearance UI
              id: meta-clearance-ui
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
              with:
                  images: |
                      ${{ secrets.DOCKER_HUB_USERNAME }}/clearance-ui
                      ghcr.io/${{ github.repository }}/clearance-ui
                  tags: |
                      type=sha  
                      type=raw,value=latest

            - name: Build and push API Docker image
              uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
              continue-on-error: false
              with:
                  build-args: |
                      NEXT_PUBLIC_API_URL=${{ env.NEXT_PUBLIC_API_URL }}
                  context: .
                  file: "UI.Dockerfile"
                  push: true
                  tags: ${{ steps.meta-clearance-ui.outputs.tags }}
                  labels: ${{ steps.meta-clearance-ui.outputs.labels }}
                  cache-from: type=local,src=/tmp/.buildx-cache
                  cache-to: type=local,dest=/tmp/.buildx-cache
