# SPDX-FileCopyrightText: 2023 HH Partners
#
# SPDX-License-Identifier: MIT

name: ESLint

on:
    push:
        branches:
            - main
    pull_request:
        # The branches below must be a subset of the branches above
        branches:
            - main
    workflow_dispatch:

jobs:
    lint:
        name: Run eslint scanning
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: Set up Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
              with:
                  node-version: 24.13.1
                  cache: "npm"

            - name: Enable Corepack
              run: npm install corepack@latest && corepack enable

            - name: Install dependencies
              run: npm ci

            - name: Create Prisma client
              run: npm run db:generate

            - name: Build project
              run: npm run build
              env:
                  NEXT_PUBLIC_API_URL: http://localhost:5000

            - name: Run ESLint
              run: npm run lint
              continue-on-error: false
