# SPDX-FileCopyrightText: 2023 HH Partners
#
# SPDX-License-Identifier: MIT

name: Check formatting

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    prettier:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
              with:
                  node-version: 24.13.1
                  cache: "npm"
            - name: Enable Corepack
              run: npm install corepack@latest && corepack enable
            - name: Install dependencies
              run: |-
                  npm ci
            - name: Run Prettier
              run: |-
                  npm run prettier:check
