# SPDX-FileCopyrightText: 2023 Double Open Oy
#
# SPDX-License-Identifier: MIT

name: Playwright Tests
on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]
    workflow_dispatch:

jobs:
    test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        environment: test-environment
        env:
            DATABASE_URL: ${{ vars.DATABASE_URL }}
            NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24.13.1
                  cache: "npm"
            - name: Enable Corepack
              run: npm install corepack@latest && corepack enable
            - name: Install dependencies for root
              run: npm i --workspaces=false
            - name: Install dependencies for the database package
              run: npm i --workspace packages/database
            - name: Run prisma generate
              run: npm run db:generate
            - name: Build images
              run: docker compose build
            - name: Start the testing environment
              run: docker compose up api clearance-ui scanner-worker createbuckets -d
            - name: Seed the database and populate the spaces bucket
              run: npm run db:migrate:reset
            - name: Run Playwright tests
              run: docker compose up playwright-tests --abort-on-container-exit --exit-code-from playwright-tests
            - name: Print Docker Compose logs
              run: docker compose logs
              if: failure()
            - uses: actions/upload-artifact@v6
              if: always()
              with:
                  name: playwright-report
                  path: playwright-artifacts/clearance_ui
                  retention-days: 30
