# SPDX-FileCopyrightText: 2023 HH Partners
#
# SPDX-License-Identifier: MIT

name: Unittest

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    unittest:
        name: Unit testing
        runs-on: ubuntu-latest
        environment: unittest-environment
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24.13.1
                  cache: "npm"

            - name: Enable Corepack
              run: npm install corepack@latest && corepack enable

            - name: Install dependencies
              run: npm ci

            - name: Run prisma generate
              run: npm run db:generate
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}

            - name: Build project
              run: npm run build
              env:
                  NODE_ENV: test
                  NEXT_PUBLIC_API_URL: http://localhost:5000

            - name: Run tests
              run: npm run test
              continue-on-error: false
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
                  SCANNER_URL: ${{ secrets.SCANNER_URL }}
